* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;

  /* 
  justify-content: center;
  align-items: center;
  */
  margin: auto;
  max-width: 1080px; 
}

.Toastify__toast{
  width: unset;
}
